@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
@import url('https://discordstyles.github.io/FrostedGlass/dist/FrostedGlass.css');
@import url('https://discordstyles.github.io/Addons/windows-titlebar.css');
@import url('https://discordstyles.github.io/HorizontalServerList/dist/HorizontalServerList.css');
@import url('https://discordstyles.github.io/RadialStatus/dist/RadialStatus.css');

:root {
  --background-image: url('https://i.imgur.com/v4I8w5t.gif');
  --background-image-blur: 8px;
  --background-image-size: cover;
  --background-image-position: center;
  --popout-modal-image: url('https://i.imgur.com/v4I8w5t.gif');
  --popout-modal-blur: 5px;
  --popout-modal-size: cover;
  --popout-modal-position: center;
  --home-button-image: url('https://i.imgur.com/4LtR1D9.gif');
  --home-button-size: cover;
  --home-button-position: center;
  --serverlist-brightness: 0.9;
  --left-brightness: 0.8;
  --middle-brightness: 0.7;
  --right-brightness: 0;
  --popout-modal-brightness: 0.88;
  --gradient-primary: 107,3,125;
  --gradient-secondary: 0,0,0;
  --link-colour: #B221CB;
  --scrollbar-colour: rgba(255,255,255,0.05);
  --gradient-direction: 231deg;
  --tint-colour: 255,51,159;
  --tint-brightness: 0;
  --font: Roboto;
  --window-padding: 6px;
  --window-roundness: 10px;
  --update-notice-1: none;
  --HSL-server-icon-size: 40px;
  --HSL-server-spacing: 10px;
  --rs-small-spacing: 1px;
  --rs-medium-spacing: 1px;
  --rs-large-spacing: 4px;
  --rs-small-width: 1px;
  --rs-medium-width: 3px;
  --rs-large-width: 3px;
  --rs-avatar-shape: 30%;
  --rs-online-color: #43b581;
  --rs-idle-color: #faa61a;
  --rs-dnd-color: #f04747;
  --rs-offline-color: #636b75;
  --rs-streaming-color: #643da7;
  --rs-phone-visible: block;
}